[cols="{{columnsSize}}",options="header"]
|===
|{{columnsName}}

{{#classes}}
    {{linkableIdColumn}}
    |{{linkableName}}
    |
    |{{type}}
    |{{{description}}}
    |{{annotations}}
    |
    {{#fields}}
        {{linkableIdColumn}}
        |
        |{{linkableName}}
        |{{#withLink}}{{linkedType}}{{/withLink}}{{^withLink}}{{type}}{{/withLink}}
        |{{{description}}}
        |{{annotations}}
        |{{model.initializationExpression}}
    {{/fields}}
{{/classes}}
|===