<ac:structured-macro ac:name='plantuml' ac:schema-version='1' ac:macro-id='c93806da-006e-4cfa-9d67-bfe2f255e2fb'>
    <ac:parameter ac:name='atlassian-macro-output-type'>INLINE</ac:parameter>
    <ac:plain-text-body><![CDATA[!include ^{{fileName}}]]></ac:plain-text-body>
</ac:structured-macro>
<ac:structured-macro ac:name='plantumlrender' ac:schema-version='1' ac:macro-id='fd471a25-2de1-4cf4-86b2-2411fe61334c'>
    <ac:parameter ac:name='atlassian-macro-output-type'>INLINE</ac:parameter>
    <ac:rich-text-body>title = {{fileName}}</ac:rich-text-body>
</ac:structured-macro>
